.container.outfits
  h1 コーディネートを作成する

  =form_with model: @outfit, local:true do |f|
    .form-group
      - @tops.each do |top|
        =image_tag top.image.url
        =f.label :top
        =f.radio_button :top,  "#{top.id}"
    .form-group
      - @trousers.each do |trouser|
        =image_tag trouser.image.url
        =f.label :trouser
        =f.radio_button :trouser,  "#{trouser.id}"
    .form-group
      - @shoes.each do |shoe|
        =image_tag shoe.image.url
        =f.label :shoe
        =f.radio_button :shoe,  "#{shoe.id}"

    =f.submit '作成する', class: 'btn btn-primary'
